[user]
	email = kitano-atsushi@dmm.com
	name = AtsushiKitano

[core]
	editor = emacs
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
